.ementa-bg {
  padding: 20px 60px;
}

.ementa {
  background: var(--b-04);
  padding: 20px 40px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  display: none;
  animation: slide .3s forwards;
}

.ementa.active {
  display: block;
}

.ementa h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: var(--m-01);
  font-family: 'poppins';
}

.ementa li {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: #FFF9F4;
}

.ementa li span {
  color: #FFAF16;
}


.ementa li:not(:last-child) {
  margin-bottom: 15px;
}

#ementa-dois .vinho .sandes-tipo,
#ementa-tres .refri .sandes-tipo {
  text-align: right;
  color: var(--m-01);
  font-family: "Poppins", sans-serif;
  font-size: 1.0rem;
  display: inline-block;
}

#ementa-dois .vinho h2,
#ementa-tres .refri h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ementa-section {
  display: none;
}

.ementa-section.active {
  display: block;
}

.section-btn-proximo {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.btn-proximo {
  outline: none;
  text-transform: uppercase;
  padding: 5px;
  background: var(--b-04);
  color: var(--m-01);
  border-radius: 3px;
  border: none;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
  cursor: pointer;
}

@keyframes slide {
  from {
    opacity: 0;
    transform: translate3d(-30px,0,0)
  } 
  to {
    opacity: 1;
    transform: translate3d(0,0,0)
  }
}

@media (max-width: 800px) {
  .ementa {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 500px) {
  .ementa {
    margin-left: -35px;
    margin-right: -35px;
  }
}